Django
psycopg[binary]
psycopg2-binary
python-dotenv
cryptography
python-docx
plotly
kaleido
pandas
textstat
sentence-transformers
deepeval
openevals
langchain-core
langchain-postgres
langchain-google-vertexai
langchain-google-genai
langchain-ollama
langchain-openrouter
google-api-core
