{% extends "base.html" %}

{% block title %}Approved Topics{% endblock %}

{% block content %}
<div class="stack">
    <div class="page-header">
        <div class="page-header__body">
            <h1 class="page-header__title">Approved Topics</h1>
            <p class="page-header__subtitle">{{ section }} / {{ subsection }}</p>
        </div>
        <a href="javascript:history.back()" class="button button--secondary">Back</a>
    </div>

    <div class="card">
        <div class="card__body">
            <ul class="list list--divided">
                {% for topic in topics %}
                <li class="list__item">
                    <p class="list__title">{{ topic }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
